* {
	all: unset;
}

window {
	background-color: #101010;
	color: #f0f0f0;
	font-family: "Inter Regular", "Font Awesome 5 Free Solid";
	font-size: 16px;
	border-radius: 4px;
}

button:hover {
	color: #fc9867;
}

.sys {
	font-size: 64px;
}
